

.dashboard {
    background-color: #F6F0F0;
    margin-top: 80px;
    margin-left: 400px;
    width: 600px;
    height: 100%;

}


.add_btn {
    background-color: #8AEA92;
    margin-left: 200px;
}

